{%extends 'myblog/master.html'%}
{%load staticfiles%}
{% block content %}
<div id="about_me_wrapper">
<div id="summary_wrapper">
<section id="summary_section">
    <p>My name is Eugene. I'm 28 years old.<br> I'm IT engineer, philosopher, healty lifestyle follower, manque musician and painter, passionate cook and wine fan</p>
</section>
    <section id="photo_section">
    <img id="my_pic" alt="My face"  />
</section>
<div class="clear"></div>
</div>
<div id="section_wrapper">
<section id="profession_section">
    asdfasdf
</section>
</div>
</div>
<link rel="stylesheet" href="{%static 'myblog/css/about_me.css'%}">
{% endblock %}