{%extends 'myblog/master.html' %}
{%load staticfiles%}

{%block content%}
<link rel="stylesheet" href="{%static 'myblog/css/apps/converter.css'%}"/>
<link rel="stylesheet" href="{%static 'myblog/css/apps.css'%}"/>
<script src="{%static 'myblog/js/jquery.tabify.js'%}"></script>

<script src="{%static 'myblog/js/apps/converter.js'%}"></script>
<script src="{%static 'myblog/js/jquery.easyAccordion.js'%}"></script>

<script>
$(document).ready(function(){
	$('#converter').load( "{%static 'myblog/apps/converter.html'%}", function() {});
	  
	$('#menu').tabify();
	

});
</script>
<div>
<div class="menu_container">
  <ul id="menu">
    <li class="active"><a href="#converter">Converter</a></li>
    <li><a href="#prototype">Prototype</a></li>
    <li><a href="#ext">Ext</a></li>
  </ul>
  </div>
 <div class="app_container">
  <div id="converter">
   
  </div>
  <div id="prototype">
   The Prototype JavaScript…
  </div>
  <div id="ext">
   Ext (X-t) is a JavaScript…
  </div>
  <div>
</div>
{%endblock%}