{%extends 'myblog/master.html'%}
{%load staticfiles%}
{%block content%}
<section id="latest_posts">
    {%for article in articles%}
    	<h1>{{article.title}}</h1>
    	<p>{{article.date}} {{article.time}}</p>
    	<p>{{article.text}}</p>
    	<br>
    {%endfor%}
</section>
<aside id="other_news">
</aside>
{%endblock%}
