{%load staticfiles%}
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{%static 'myblog/css/master.css'%}"/>
    <link rel="stylesheet" href="{%static 'myblog/css/menu.css'%}"/>
    <!--script type="text/javascript" src="{%static 'myblog/js/jquery-2.1.0.min.js'%}"></script-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{%static 'myblog/js/master.js'%}"></script>
    
</head>
<body>
<div id="content">
<div id="header_wrap">
<header id="blog_header">
   Boring IT
</header>    
<nav id="blog_nav" class="clearfix">
{% load menu %}{%menu menu_id %}
</nav>
</div>
<div id="blog_content">
    <section>
        {%block content%}{% endblock %}
    </section>
    <aside></aside> 
    <div class="push"></div>
</div>
</div>


<footer id="blog_footer">
    <p>Copyright and all this stuff go here</p>
</footer>
</body>
</html>