<nav>
<ul>
{%for menu_item in menu %}
	
    <li {%if menu_item.selected%}class="selected"{%endif%}><a href="{% url menu_item.link %}">{{menu_item.text}}</a>
        {%if menu_item.sub%}
            <ul>
            {%for sub_item in menu_item.sub %}
                <li><a href="#">{{sub_item.text}}</a></li> 
            {%endfor%}
            </ul>
        {%endif%}
    </li>
    

{%endfor%}
</ul>
