
<div id="app_converter">
<div>
<label for="inch">Inches:</label>
<input id="inch" type="text"/>
</div>
<div>
<label for="inch">Centimeters:</label>
<input id="cm" type="text"/>
</div>
<div>
<label for="ft">Foot:</label>
<input id="ft" type="text"/>
</div>
</div>
