#photo_section
{
    float:right;
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    
}
#summary_section{
    float: left;
    width: auto;
    border: 1px solid #000;
    height: 300px;
    font-size: 14px;
    word-wrap:break-word
    
}
#profession_section{
    width: 100%;
    border: 1px solid #000;
}
#my_pic{
    width: 300px;
    height: 300px;
}
#summary_wrapper{
    width: 100%
}