
#menu li{
	padding-bottom: 10px;
    list-style: none
	
}
#menu a{
	font-style: normal;
    text-decoration: none;
    color: inherit;
    padding:5px
    
}
#menu a:hover {
	background: #AB20B2;
    color: #fff
}

.menu_container{
	float:left;
	border-right: 1px solid black;
	padding-right: 10px;
	font-size: 18px
	
}

.app_container{
	float:left;
	padding-left: 20px
	
}