* {
	margin: 0;
    padding: 0;
    border: 0;
}
html,body{
margin: 0px;
height: 100%;
width: 100%;
line-height: 1;
font-family: Tahoma;
background: #fff; 
}

.clear{
    clear: both
}
#header_wrap{
    background-color: #000;
    height: 50px;
    width: 100%;
    color: white;
    position:fixed;
   
    
}
#content{

height: 100%;
min-height: 100%;
width: 100%;
   
	
}
#blog_content
{
    padding: 60px 15px
}
#blog_header{
float: left;
padding: 15px;
font-size: 24px;


    font-family: alpha_echoregular
    

}
#blog_nav{
float: right;
padding-top: 14px;
width: 100%
}

#blog_footer
{
    background-color: #000;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom:0px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding-top: 15px
    
   
}

@font-face {
    font-family: 'alpha_echoregular';
    src: url('../fonts/alpha_echo-webfont.eot');
    src: url('../fonts/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alpha_echo-webfont.woff') format('woff'),
         url('../fonts/alpha_echo-webfont.ttf') format('truetype'),
         url('../fonts/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix{
    *zoom:1
}
.clearfix:before, .clearfix:aftet{
    content:" ";
    display: table
    
}
.clearfix:after {  
    clear: both;  
} 



