



nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	
	
	list-style: none;
	position: relative;
	display: inline-table;
    
    
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
       display: inline
        
	}
    nav ul li[class="selected"] {
		float: left;
        background: #28A0E0;
        
	}
		nav ul li:hover {
			background: #28A0E0;
			
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; 
            
            padding: 10px 20px;
			color: #757575; 
            text-decoration: none;
		}
			
		
	nav ul ul {
		background: #28A0E0; padding: 0;
		position: absolute; 
	}
		nav ul ul li {
			float: none; 
            position: relative;
		}
			nav ul ul li a {
				padding: 15px 20px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #0074B3;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
